diffusers[torch]==0.32.2
ipython
transformers==4.48.3
scikit_learn==1.6.1
nltk==3.9.1
matplotlib==3.10.0
opencv-python==4.11.0.86

--extra-index-url=https://pypi.nvidia.com
cudf-cu12==24.12.*
dask-cudf-cu12==24.12.*
cuml-cu12==24.12.*
cugraph-cu12==24.12.*
nx-cugraph-cu12==24.12.*
cuspatial-cu12==24.12.*
cuproj-cu12==24.12.*
cuxfilter-cu12==24.12.*
cucim-cu12==24.12.*
pylibraft-cu12==24.12.*
raft-dask-cu12==24.12.*
cuvs-cu12==24.12.*